body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.column {
  width: 80%;
}
